
@{
    ViewBag.Title = "Index";
}

<h2>EstadodeCuenta - Sitio de Administracion</h2>

<div>
    <img src="~/Imagenes/cheques-p-e1515670012802.jpg" alt="EstadodeCuenta" style="width: 100%; max-width: 700px;" />
</div>